
:root{
	--grid-size:400px;
	--margin-size:10px;
    --square-size: calc((var(--grid-size) / 3) - var(--margin-size));
}

body{
	font-family: sans-serif;	
	margin-left: 30%;
}



#grid{
	display: flex;
	flex-wrap: wrap;
	height: var(--grid-size);
	width: var(--grid-size);
	align-content: space-between;
	justify-content: space-between;
	background-color: rgba(0,0,0,0.5);

}

#grid div{
	background-color : yellow;;
	height: var(--square-size);
	width:var(--square-size);
	display: flex;
	justify-content: center;
	align-items: center;
}

#grid div img {
  width: 100%;
}
